.rating {
    margin-top: 5px;
    margin-left: 35%;
    @media screen and (max-width: 800px) {
        margin-left: 38%;
    }
}
.carousel {
    height: 95vh;
    width: 100%;
}
.carousel-image {
    height: 95vh;
    width: 100%;
}

.first-banner {
    height: 850px;
    min-width: 100%;
    background-color: white;
    background-image: url('../../Assets/first3.jpg');
    background-size: cover;
}
.second-banner {
    margin-top: 80px;
}
.third-banner {
    margin-top: 80px;
}
.fourth-banner {
    margin-top: 80px;
}

.extra-btn-1 {
}

.home-main-button {
    width: 150px;
    width: 150px;
    bottom: 20px;
    right: 20px;
    background-color: white;
}
.banner-text {
    text-align: center;
}
